.topBar {
	height: var(--header-height);

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0 var(--spacing-lg);

	background: var(--color-surface);

	color: var(--color-text);

	border-bottom: 1px solid var(--border-color);

	font-weight: 600;
}
